*.elc
*~
.#*
\#*
archive/
autoloads.el
backups/
broken.el
compile.log
cus-dirs.el
data-alt/
data/
ede-projects.el
emms/
eshell/
flycheck-*
info/
logs/
mirror
override/cc-mode/
private/
site-lisp/.loaddefs.el
site-lisp/.status.el
srecode-map.el
var/
