[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/session"]
	path = site-lisp/session
	url = https://github.com/rdparker/session.git
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "site-lisp/paredit"]
	path = site-lisp/paredit
	url = https://github.com/rdparker/paredit.git
[submodule "site-lisp/yasnippet"]
	path = site-lisp/yasnippet
	url = https://github.com/capitaomorte/yasnippet.git
[submodule "snippets/davidmiller"]
	path = snippets/davidmiller
	url = https://github.com/davidmiller/yasnips.git
[submodule "site-lisp/jshint-mode"]
	path = site-lisp/jshint-mode
	url = https://github.com/daleharvey/jshint-mode.git
[submodule "site-lisp/skewer-mode"]
	path = site-lisp/skewer-mode
	url = https://github.com/skeeto/skewer-mode.git
[submodule "site-lisp/simple-httpd"]
	path = site-lisp/simple-httpd
	url = https://github.com/skeeto/emacs-http-server.git
[submodule "site-lisp/evernote-mode"]
	path = site-lisp/evernote-mode
	url = https://github.com/pymander/evernote-mode.git
[submodule "site-lisp/p4"]
	path = site-lisp/p4
	url = https://github.com/gareth-rees/p4.el.git
[submodule "site-lisp/quilt"]
	path = site-lisp/quilt
	url = https://github.com/rdparker/emacs-epackage--quilt.git
[submodule "site-lisp/markdown"]
	path = site-lisp/markdown
	url = https://github.com/rdparker/markdown-mode.git
[submodule "site-lisp/projectile"]
	path = site-lisp/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/flx"]
	path = site-lisp/flx
	url = https://github.com/lewang/flx.git
[submodule "site-lisp/s-el"]
	path = site-lisp/s-el
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/pkg-info"]
	path = site-lisp/pkg-info
	url = https://github.com/lunaryorn/pkg-info.el.git
[submodule "site-lisp/epl"]
	path = site-lisp/epl
	url = https://github.com/cask/epl.git
[submodule "site-lisp/web"]
	path = site-lisp/web
	url = https://github.com/nicferrier/emacs-web.git
[submodule "site-lisp/window-numbering"]
	path = site-lisp/window-numbering
	url = https://github.com/nschum/window-numbering.el.git
[submodule "site-lisp/lispstick"]
	path = site-lisp/lispstick
	url = https://github.com/rdparker/lispstick-el
[submodule "site-lisp/smart-tab"]
	path = site-lisp/smart-tab
	url = https://github.com/sroccaserra/smart-tab.git
[submodule "site-lisp/popup"]
	path = site-lisp/popup
	url = git://github.com/auto-complete/popup-el.git
[submodule "site-lisp/highlight-symbol"]
	path = site-lisp/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "site-lisp/whitespace-cleanup-mode"]
	path = site-lisp/whitespace-cleanup-mode
	url = https://github.com/purcell/whitespace-cleanup-mode.git
[submodule "site-lisp/ws-butler"]
	path = site-lisp/ws-butler
	url = https://github.com/lewang/ws-butler.git
[submodule "site-lisp/shoes-off"]
	path = site-lisp/shoes-off
	url = https://github.com/rdparker/shoes-off.git
[submodule "site-lisp/kv"]
	path = site-lisp/kv
	url = https://github.com/nicferrier/emacs-kv.git
[submodule "site-lisp/huskie"]
	path = site-lisp/huskie
	url = https://github.com/nicferrier/emacs-huskie.git
[submodule "site-lisp/helm"]
	path = site-lisp/helm
	url = https://github.com/rdparker/helm.git
[submodule "site-lisp/helm-swoop"]
	path = site-lisp/helm-swoop
	url = https://github.com/ShingoFukuyama/helm-swoop.git
[submodule "site-lisp/helm-descbinds"]
	path = site-lisp/helm-descbinds
	url = https://github.com/emacs-helm/helm-descbinds.git
[submodule "site-lisp/pyvenv"]
	path = site-lisp/pyvenv
	url = https://github.com/jorgenschaefer/pyvenv.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = https://github.com/technomancy/find-file-in-project.git
[submodule "site-lisp/fuzzy"]
	path = site-lisp/fuzzy
	url = https://github.com/auto-complete/fuzzy-el.git
[submodule "site-lisp/iedit"]
	path = site-lisp/iedit
	url = https://github.com/victorhge/iedit.git
[submodule "site-lisp/graphviz"]
	path = site-lisp/graphviz
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "site-lisp/web-beautify"]
	path = site-lisp/web-beautify
	url = https://github.com/yasuyk/web-beautify.git
[submodule "site-lisp/helm-gtags"]
	path = site-lisp/helm-gtags
	url = https://github.com/syohex/emacs-helm-gtags.git
[submodule "site-lisp/powerline"]
	path = site-lisp/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "override/org-mode/testing/jump"]
	path = override/org-mode/testing/jump
	url = https://github.com/eschulte/jump.el.git
[submodule "site-lisp/popup/lib/ert"]
	path = site-lisp/popup/lib/ert
	url = git://github.com/ohler/ert.git
[submodule "site-lisp/yasnippet/extras/bundles/ruby-tmbundle"]
	path = site-lisp/yasnippet/extras/bundles/ruby-tmbundle
	url = http://github.com/drnic/ruby-tmbundle.git
[submodule "site-lisp/yasnippet/extras/bundles/html-tmbundle"]
	path = site-lisp/yasnippet/extras/bundles/html-tmbundle
	url = http://github.com/drnic/html-tmbundle.git
[submodule "site-lisp/yasnippet/extras/bundles/rails-tmbundle"]
	path = site-lisp/yasnippet/extras/bundles/rails-tmbundle
	url = http://github.com/drnic/ruby-on-rails-tmbundle.git
