[submodule "site-lisp/use-package"]
	path = site-lisp/use-package
	url = https://github.com/jwiegley/use-package.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = https://github.com/magit/magit.git
[submodule "site-lisp/session"]
	path = site-lisp/session
	url = https://github.com/rdparker/session.git
[submodule "site-lisp/auto-complete"]
	path = site-lisp/auto-complete
	url = https://github.com/auto-complete/auto-complete
[submodule "site-lisp/emmet-mode"]
	path = site-lisp/emmet-mode
	url = https://github.com/smihica/emmet-mode.git
[submodule "override/org-mode"]
	path = override/org-mode
	url = git://orgmode.org/org-mode.git
